<table class="table-light">
<thead>
<th>TLD</th>
<th>Registry</th>
<th>Restrictions</th>
<th>Policies</th>
</thead>
<tbody>
<tr>
<td>academy</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>accountants</td>
<td>Donuts</td>
<td>Regulated</td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>actor</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>agency</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>apartments</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>associates</td>
<td>Donuts</td>
<td>Regulated</td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>auction</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>band</td>
<td>Donuts</td>
<td>Regulated</td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>bar</td>
<td>PUNTO 2012</td>
<td></td>
<td><a href="http://www.register.bar/policies/%C2%A0">http://www.register.bar/policies/%C2%A0</a></td>
</tr>
<tr>
<td>bargains</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>bet</td>
<td>Afilias</td>
<td></td>
<td><a href="http://www.afilias.info/policies">http://www.afilias.info/policies</a></td>
</tr>
<tr>
<td>black</td>
<td>Afilias</td>
<td></td>
<td><a href="http://www.afilias.info/policies">http://www.afilias.info/policies</a></td>
</tr>
<tr>
<td>blue</td>
<td>Afilias</td>
<td></td>
<td><a href="http://www.afilias.info/policies">http://www.afilias.info/policies</a></td>
</tr>
<tr>
<td>bike</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>bingo</td>
<td>Donuts</td>
<td>Highly-regulated</td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>boutique</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>builders</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>business</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>cab</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>cafe</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>camera</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>camp</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>capital</td>
<td>Donuts</td>
<td>Regulated</td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>cards</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>care</td>
<td>Donuts</td>
<td>Regulated</td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>careers</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>cash</td>
<td>Donuts</td>
<td>Regulated</td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>casino</td>
<td>Donuts</td>
<td>Highly-regulated</td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>catering</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>center</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>ceo</td>
<td>PeopleBrowsr</td>
<td></td>
<td><a href="https://claim.ceo/terms/overview">https://claim.ceo/terms/overview</a></td>
</tr>
<tr>
<td>chat</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>cheap</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>church</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>city</td>
<td>Donuts</td>
<td>Regulated</td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>claims</td>
<td>Donuts</td>
<td>Regulated</td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>cleaning</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>clinic</td>
<td>Donuts</td>
<td>Regulated</td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>clothing</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>coach</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>codes</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>coffee</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>college</td>
<td>XYZ</td>
<td></td>
<td><a href="http://nic.college/files/COLLEGE-policies.pdf"> http://nic.college/files/COLLEGE-policies.pdf</a> </td>
</tr>
<tr>
<td>com</td>
<td>Verisign</td>
<td></td>
<td></td>
</tr>
<tr>
<td>community</td>
<td>Donuts</td>
<td></td>
<td><a href=" https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a> </td>
</tr>
<tr>
<td>company</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>computer</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a> </td>
</tr>
<tr>
<td>condos</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>construction</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a> </td>
</tr>
<tr>
<td>consulting</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>contractors</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a> </td>
</tr>
<tr>
<td>cool</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>coupons</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>credit</td>
<td>Donuts</td>
<td>Regulated</td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>creditcard</td>
<td>Donuts</td>
<td>Highly-regulated</td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a> </td>
</tr>
<tr>
<td>cruises</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>dance</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a> </td>
</tr>
<tr>
<td>dating</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>deals</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a> </td>
</tr>
<tr>
<td>delivery</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>democrat</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a> </td>
</tr>
<tr>
<td>dental</td>
<td>Donuts</td>
<td>Regulated</td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>design</td>
<td>Top Level Design</td>
<td></td>
<td><a href="http://toplevel.design/policy/"> http://toplevel.design/policy/</a> </td>
</tr>
<tr>
<td>diamonds</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>digital</td>
<td>Donuts</td>
<td>Regulated</td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a> </td>
</tr>
<tr>
<td>direct</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>directory</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a> </td>
</tr>
<tr>
<td>discount</td>
<td>Donuts</td>
<td>Regulated</td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>doctor</td>
<td>Donuts</td>
<td>Highly-regulated</td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a> </td>
</tr>
<tr>
<td>dog</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>domains</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a> </td>
</tr>
<tr>
<td>education</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>email</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a> </td>
</tr>
<tr>
<td>energy</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>engineering</td>
<td>Donuts</td>
<td>Regulated</td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a> </td>
</tr>
<tr>
<td>enterprises</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>equipment</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a> </td>
</tr>
<tr>
<td>estate</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>events</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a> </td>
</tr>
<tr>
<td>exchange</td>
<td>Donuts</td>
<td>Regulated</td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>expert</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a> </td>
</tr>
<tr>
<td>exposed</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>express</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a> </td>
</tr>
<tr>
<td>fail</td>
<td>Donuts</td>
<td>Highly-regulated</td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>family</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a> </td>
</tr>
<tr>
<td>fans</td>
<td>Asiamix Digital</td>
<td></td>
<td><a href="http://nic.fans/policies-fans/"> http://nic.fans/policies-fans/</a></td>
</tr>
<tr>
<td>farm</td>
<td>Donuts</td>
<td></td>
<td><a href=" https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>finance</td>
<td>Donuts</td>
<td>Regulated</td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>financial</td>
<td>Donuts</td>
<td>Regulated</td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>fish</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>fitness</td>
<td>Donuts</td>
<td>Regulated</td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>flights</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>florist</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>football</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>forsale</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>foundation</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>fun</td>
<td>Radix</td>
<td></td>
<td><a href="http://radix.website/policies/"> http://radix.website/policies/</a></td>
</tr>
<tr>
<td>fund</td>
<td>Donuts</td>
<td>Regulated</td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>furniture</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>futbol</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>fyi</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>gallery</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>games</td>
<td>Donuts</td>
<td>Regulated</td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>gifts</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>glass</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>gmbh</td>
<td>Donuts</td>
<td>Highly-regulated</td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>gold</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>golf</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>graphics</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>gratis</td>
<td>Donuts</td>
<td>Regulated</td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>green</td>
<td>Afilias</td>
<td></td>
<td><a href="http://www.afilias.info/policies">http://www.afilias.info/policies</a></td>
</tr>
<tr>
<td>gripe</td>
<td>Donuts</td>
<td>Highly-regulated</td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>group</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>guide</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>guru</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>haus</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>healthcare</td>
<td>Donuts</td>
<td>Regulated</td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>hockey</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>holdings</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>holiday</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>hospital</td>
<td>Donuts</td>
<td>Highly-regulated</td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>host</td>
<td>Radix</td>
<td></td>
<td><a href="http://radix.website/policies/"> http://radix.website/policies/</a></td>
</tr>
<tr>
<td>house</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>immo</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>immobilien</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>industries</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>info</td>
<td>Afilias</td>
<td></td>
<td><a href="http://info.info/about/legal"> http://info.info/about/legal</a> </td>
</tr>
<tr>
<td>ink</td>
<td>Top Level Design</td>
<td></td>
<td><a href=" http://toplevel.design/policy/"> http://toplevel.design/policy/</a> </td>
</tr>
<tr>
<td>institute</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>insure</td>
<td>Donuts</td>
<td>Regulated</td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a> </td>
</tr>
<tr>
<td>international</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>investments</td>
<td>Donuts</td>
<td>Regulated</td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a> </td>
</tr>
<tr>
<td>io</td>
<td>NIC .io</td>
<td></td>
<td><a href="http://www.nic.io/terms.htm">http://www.nic.io/terms.htm</a> </td>
</tr>
<tr>
<td>irish</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>jetzt</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a> </td>
</tr>
<tr>
<td>jewelry</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>kaufen</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a> </td>
</tr>
<tr>
<td>kim</td>
<td>Afilias</td>
<td></td>
<td><a href="http://www.afilias.info/policies">http://www.afilias.info/policies</a></td>
</tr>
<tr>
<td>kitchen</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>land</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a> </td>
</tr>
<tr>
<td>lease</td>
<td>Donuts</td>
<td>Regulated</td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>legal</td>
<td>Donuts</td>
<td>Regulated</td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a> </td>
</tr>
<tr>
<td>lgbt</td>
<td>Afilias</td>
<td></td>
<td><a href="http://www.afilias.info/policies">http://www.afilias.info/policies</a></td>
</tr>
<tr>
<td>life</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>lighting</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a> </td>
</tr>
<tr>
<td>limited</td>
<td>Donuts</td>
<td>Regulated</td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>limo</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a> </td>
</tr>
<tr>
<td>live</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>loans</td>
<td>Donuts</td>
<td>Regulated</td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a> </td>
</tr>
<tr>
<td>love</td>
<td>Merchant Law Group LLP</td>
<td></td>
<td>
<a href="http://getdotlove.domains/wp-content/uploads/2015/05/Policies-dotlove-201504234.pdf"> http://getdotlove.domains/wp-content/uploads/2015/05/Policies-dotlove-201504234.pdf</a></td>
</tr>
<tr>
<td>ltd</td>
<td>Donuts</td>
<td>Highly-regulated</td>
<td><a href=" https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>maison</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>management</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>marketing</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>mba</td>
<td>Donuts</td>
<td>Regulated</td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>media</td>
<td>Donuts</td>
<td>Regulated</td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>memorial</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>mobi</td>
<td>Dotmobi</td>
<td></td>
<td><a href="http://dotmobi.mobi/about/dispute-resolution">http://dotmobi.mobi/about/dispute-resolution</a><br/><a href="http://dotmobi.mobi/about/afilias-anti-abuse-policy">http://dotmobi.mobi/about/afilias-anti-abuse-policy</a></td>
</tr>
<tr>
<td>moda</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>money</td>
<td>Donuts</td>
<td>Regulated</td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>movie</td>
<td>Donuts</td>
<td>Regulated</td>
<td>
<a href=" https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>net</td>
<td>Verisign</td>
<td></td>
<td>
</td>
</tr>
<tr>
<td>network</td>
<td>Donuts</td>
<td></td>
<td><a href=" https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>news</td>
<td>Donuts</td>
<td>Regulated</td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>ninja</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>online</td>
<td>Radix</td>
<td></td>
<td><a href="http://radix.website/policies/"> http://radix.website/policies/</a></td>
</tr>
<tr>
<td>org</td>
<td>PIR</td>
<td></td>
<td><a href="https://pir.org/policies/">https://pir.org/policies/</a></td>
</tr>
<tr>
<td>partners</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>parts</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>pet</td>
<td>Afilias</td>
<td></td>
<td><a href="http://www.afilias.info/policies">http://www.afilias.info/policies</a></td>
</tr>
<tr>
<td>photography</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>photos</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>pictures</td>
<td>Donuts</td>
<td>Regulated</td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
</tr><tr>
<td>pink</td>
<td>Afilias</td>
<td></td>
<td><a href="http://www.afilias.info/policies">http://www.afilias.info/policies</a></td>
</tr>
<td>pizza</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
<tr>
<td>plumbing</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>plus</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>press</td>
<td>Radix</td>
<td></td>
<td><a href="http://radix.website/policies/"> http://radix.website/policies/</a></td>
</tr>
<tr>
<td>productions</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>pro</td>
<td>Afilias</td>
<td></td>
<td><a href="http://registry.pro/about">http://registry.pro/about</a></td>
</tr>
<tr>
<td>promo</td>
<td>Get</td>
<td></td>
<td><a href="http://get.promo/about">http://get.promo/about</a></td>
</tr>
<tr>
<td>properties</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>pub</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>recipes</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>red</td>
<td>Afilias</td>
<td></td>
<td><a href="http://www.afilias.info/policies">http://www.afilias.info/policies</a></td>
</tr>
<tr>
<td>reise</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>reisen</td>
<td>Donuts</td>
<td>Regulated</td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>rent</td>
<td>XYZ</td>
<td></td>
<td><a href="http://nic.rent/files/rent-policies.pdf">http://nic.rent/files/rent-policies.pdf</a></td>
</tr>
<tr>
<td>rentals</td>
<td>Donuts</td>
<td></td>
<td><a href=" https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>repair</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>report</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>republican</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>rest</td>
<td>PUNTO 2012</td>
<td></td>
<td><a href="http://www.register.rest/policies/"> http://www.register.rest/policies/</a></td>
</tr>
<tr>
<td>restaurant</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>reviews</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>rip</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>rocks</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>run</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>sale</td>
<td>Donuts</td>
<td>Regulated</td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>salon</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>sarl</td>
<td>Donuts</td>
<td>Highly-regulated</td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>school</td>
<td>Donuts</td>
<td>Regulated</td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>schule</td>
<td>Donuts</td>
<td>Regulated</td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>security</td>
<td>XYZ</td>
<td></td>
<td><a href="https://nic.security/">https://nic.security/</a></td>
</tr>
<tr>
<td>services</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>shoes</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>shopping</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>show</td>
<td>Donuts</td>
<td>Regulated</td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>singles</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>site</td>
<td>Radix</td>
<td></td>
<td><a href="http://radix.website/policies/"> http://radix.website/policies/</a></td>
</tr>
<tr>
<td>soccer</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>social</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>solar</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>solutions</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>space</td>
<td>Radix</td>
<td></td>
<td><a href="http://radix.website/policies/"> http://radix.website/policies/</a></td>
</tr>
<tr>
<td>storage</td>
<td>XYZ</td>
<td></td>
<td><a href="https://go.storage/">https://go.storage/</a></td>
</tr>
<tr>
<td>store</td>
<td>Radix</td>
<td></td>
<td><a href="http://radix.website/policies/"> http://radix.website/policies/</a></td>
</tr>
<tr>
<td>studio</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>style</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>supplies</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>supply</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>support</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>surgery</td>
<td>Donuts</td>
<td>Highly-regulated</td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>systems</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>tax</td>
<td>Donuts</td>
<td>Regulated</td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>taxi</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>team</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>tech</td>
<td>Radix</td>
<td></td>
<td><a href="http://radix.website/policies/"> http://radix.website/policies/</a></td>
</tr>
<tr>
<td>technology</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>tennis</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>theater</td>
<td>Donuts</td>
<td>Regulated</td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>theatre</td>
<td>XYZ</td>
<td></td>
<td>
<a href="http://nic.theatre/"> http://nic.theatre/</a></td>
</tr>
<tr>
<td>tienda</td>
<td>Donuts</td>
<td></td>
<td><a href=" https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>tips</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>tires</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>today</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>tools</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>tours</td>
<td>Donuts</td>
<td>Regulated</td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>town</td>
<td>Donuts</td>
<td>Regulated</td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>toys</td>
<td>Donuts</td>
<td>Regulated</td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>training</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>university</td>
<td>Donuts</td>
<td>Highly-regulated</td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>vacations</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>ventures</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>viajes</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>video</td>
<td>Donuts</td>
<td>Regulated</td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>villas</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>vin</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>vision</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>voyage</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>watch</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>website</td>
<td>Radix</td>
<td></td>
<td><a href="http://radix.website/policies/"> http://radix.website/policies/</a></td>
</tr>
<tr>
<td>wiki</td>
<td>Top Level Design</td>
<td></td>
<td><a href="http://toplevel.design/policy/"> http://toplevel.design/policy/</a></td>
</tr>
<tr>
<td>wine</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>works</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>world</td>
<td>Donuts</td>
<td></td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>wtf</td>
<td>Donuts</td>
<td>Highly-regulated</td>
<td><a href="https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
<tr>
<td>xyz</td>
<td>XYZ</td>
<td></td>
<td>
<a href="https://gen.xyz/registrationterms">https://gen.xyz/registrationterms</a></td>
</tr>
<tr>
<td>zone</td>
<td>Donuts</td>
<td></td>
<td>
<a href=" https://donuts.domains/about/policies/">https://donuts.domains/about/policies/</a></td>
</tr>
</tbody>
</table>