:root {

  --foreground-color: #eeeeee;
  --background-color: #000000;
  --highlight-color: #0A84FF;
  --border-color: #0f1011;

  --sn-component-foreground-color: var(--foreground-color);
  --sn-component-background-color: transparent;
  --sn-component-foreground-highlight-color: var(--highlight-color);
  --sn-component-outer-border-color: transparent;
  --sn-component-inner-border-color: var(--foreground-color);

  // StyleKit Vars

  --sn-stylekit-shadow-color: #000000;

  --sn-stylekit-info-color: var(--highlight-color);
  --sn-stylekit-info-contrast-color: var(--foreground-color);

  --sn-stylekit-neutral-color: #7c7c7c;
  --sn-stylekit-neutral-contrast-color: #ffffff;

  --sn-stylekit-success-color: #2B9612;
  --sn-stylekit-success-contrast-color: #ffffff;

  --sn-stylekit-warning-color: #f6a200;
  --sn-stylekit-warning-contrast-color: #ffffff;

  --sn-stylekit-danger-color: #F80324;
  --sn-stylekit-danger-contrast-color: #ffffff;

  --sn-stylekit-editor-background-color: var(--sn-stylekit-background-color);
  --sn-stylekit-editor-foreground-color: var(--sn-stylekit-foreground-color);

  --sn-stylekit-background-color: var(--background-color);
  --sn-stylekit-foreground-color: var(--foreground-color);
  --sn-stylekit-border-color: #000000;

  --sn-stylekit-contrast-background-color: #000000;
  --sn-stylekit-contrast-foreground-color: #ffffff;
  --sn-stylekit-contrast-border-color: #000000;

  --sn-stylekit-secondary-background-color: #0f1011;
  --sn-stylekit-secondary-foreground-color: #ffffff;
  --sn-stylekit-secondary-border-color: #000000;

  --sn-stylekit-secondary-contrast-background-color: #000000;
  --sn-stylekit-secondary-contrast-foreground-color: #ffffff;
  --sn-stylekit-secondary-contrast-border-color: #ffffff;

  --sn-stylekit-paragraph-text-color: #ffffff;

  --sn-desktop-titlebar-bg-color: var(--background-color);
  --sn-desktop-titlebar-border-color: var(--border-color);
  --sn-desktop-titlebar-ui-color: var(--foreground-color);
  --sn-desktop-titlebar-ui-hover-color: var(--highlight-color);

  --sn-stylekit-scrollbar-track-border-color: var(--border-color);
  --sn-stylekit-scrollbar-thumb-color: var(--sn-stylekit-info-color);
}
